{{ define "main" }}

<div class="max-w-290 mx-auto pt-4">
  <div class="">You can always <a class="text-bluey underline" href="/">go home</a>.</div>

  <div class="w-full flex flex-col items-center justify-center pt-21 mx-auto">
    <header class="flex flex-col gap-0">
      <h1 class="text-6xl text-center font-sans font-extrabold mb-6">{{.Title}}</h1>
      <div
        class="text-[24px] mb-8 -mt-4 text-center leading-[160%] font-['Georgia-Italic','Georgia',system-ui,sans-serif] italic flex justify-center flex-wrap text-[color(display-p3_0_0_0)]"
      >
        {{ .Description }}
      </div>
    </header>
    <div class="flex">
      <section class="self-start sticky top-4 min-w-52 text-sm">
        <div class="flex flex-col gap-3.5 p-4 border-b border-b-[#000000] text-bluey font-semibold">
          <button class="items-center flex gap-2 cursor-pointer">
            <svg
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.9"
              stroke-linecap="round"
              stroke-linejoin="round"
              aria-hidden="true"
              class="size-4 shrink-0"
            >
              <rect x="9" y="9" width="13" height="13" rx="2"></rect>
              <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
            </svg>
            <div>Copy as Markdown</div>
          </button>
          <a href="mailto:anjali.shrivastava99@gmail.com" class="items-center flex gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="size-4 shrink-0"
              aria-hidden="true"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10"></path>
              <path d="M3 7l9 6l9 -6"></path>
            </svg>
            <div>Send me an email</div>
          </a>
          <a href="https://twitter.com/anjali_shriva" class="items-center flex gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="size-4 shrink-0"
              aria-hidden="true"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013l0 .001"
              ></path>
            </svg>
            <div>Reach out on Twitter</div>
          </a>
        </div>
        <div class="flex border-b border-b-[#000000] text-center">
          <div class="p-3 w-full">
            <p class="font-bold mb-1">Published</p>
            <time datetime="{{ .Date }}">{{ .Date.Format "January 2, 2006" }}</time>
          </div>
          {{ if not .Lastmod.IsZero }}
          <div class="p-3 w-full border-l border-l-black">
            <p class="font-bold mb-1">Revised</p>
            <time datetime="{{ .Lastmod }}">{{ .Lastmod.Format "January 2, 2006" }} </time>
          </div>
          {{ end }}
        </div>
        {{ if .Params.sidebar_note }}
        <div class="p-3 border-b border-b-[#000000] [&_a]:text-bluey [&_ul]:mt-2 [&_li]:mb-1">
          {{ .Params.sidebar_note | markdownify }}
        </div>
        {{ end }} {{ if .Params.doc_link }}
        <div class="p-3 border-b border-b-[#000000]">
          See comments, research notes and earlier drafts on
          <a class="text-bluey" href="{{.Params.doc_link}}">Google Docs</a>.
        </div>
        {{ end }}
      </section>
      <main
        class="prose border-l border-l-solid border-l-[#000000] border-r border-r-solid border-r-[#000000] px-9 pb-12 min-h-dvh"
      >
        {{.Content}}
      </main>
      <section class="self-start sticky top-4 min-w-52 pl-4 font-sans text-sm">
        <div class="font-bold py-2 text-base">Table of Contents</div>
        <div class="toc">{{ .TableOfContents }}</div>
      </section>
    </div>
  </div>
</div>
{{ end }}
