{{ define "main" }}

<div
  class="[font-synthesis:none] max-w-281.25 w-full flex flex-col items-center justify-center pt-21 antialiased text-xs/4 mx-auto"
>
  <div class="w-fit flex flex-col items-start gap-8">
    <div class="flex flex-col items-center self-stretch h-95 overflow-clip shrink-0"></div>
    <div class="flex flex-col items-start gap-6 self-stretch">
      <h1
        class="text-[56px] leading-[120%] text-center self-stretch font-sans font-extrabold flex justify-center flex-wrap text-black"
      >
        {{.Title}}
      </h1>
      <div
        class="text-[24px] mb-8 -mt-4 text-center leading-[160%] self-stretch font-['Georgia-Italic','Georgia',system-ui,sans-serif] italic flex justify-center flex-wrap text-[color(display-p3_0_0_0)]"
      >
        Variance in usage creates an interconnected pricing and scaling issue
      </div>
    </div>
  </div>
  <div class="max-w-200 flex items-center h-fit">
    <div class="sticky flex flex-col items-end w-fit">
      <div class="flex flex-col items-start gap-3 w-47.5 pt-3 pb-4 px-4">
        <div class="items-center inline-flex justify-center max-w-full gap-1">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            stroke="#0033CC"
            strokeWidth="1.9"
            strokeLinecap="round"
            strokeLinejoin="round"
            aria-hidden="true"
            color="#0033CC"
            fontSize="12.48px"
            fontWeight="700"
            width="24"
            height="24"
            xmlns="http://www.w3.org/2000/svg"
            style="height: 15px; margin-right: 5.6px; width: 14px; overflow: clip; flex-shrink: 0"
          >
            <rect
              x="9"
              y="9"
              width="13"
              height="13"
              rx="2"
              color="#0033CC"
              fill="none"
              fontSize="12.48px"
              fontWeight="700"
              stroke="#0033CC"
              style="height: 13px; transform-origin: 0 0; width: 13px"
            />
            <path
              d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"
              color="#0033CC"
              fill="none"
              fontSize="12.48px"
              fontWeight="700"
              stroke="#0033CC"
              style="transform-origin: 0 0"
            />
          </svg>
          <div
            class="inline-block text-[14px] [letter-spacing:-0.025em] leading-[120%] text-center text-balance font-sans font-semibold text-[#0033CC]"
          >
            Copy as Markdown
          </div>
        </div>
        <div class="items-center inline-flex justify-center max-w-full gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#0033CC"
            strokeWidth="1.5"
            strokeLinecap="round"
            strokeLinejoin="round"
            style="width: 15px; height: 16px; overflow: visible; flex-shrink: 0"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10" />
            <path d="M3 7l9 6l9 -6" />
          </svg>
          <div
            class="inline-block text-[14px] [letter-spacing:-0.025em] leading-[120%] text-center text-balance font-sans font-semibold text-[#0033CC]"
          >
            Send me an email
          </div>
        </div>
        <div class="items-center inline-flex justify-center max-w-full gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#0033CC"
            strokeWidth="1.5"
            strokeLinecap="round"
            strokeLinejoin="round"
            style="width: 15px; height: 16px; overflow: visible; flex-shrink: 0"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013l0 .001"
            />
          </svg>
          <div
            class="inline-block text-[14px] [letter-spacing:-0.025em] leading-[120%] text-center text-balance font-sans font-semibold text-[#0033CC]"
          >
            Reach out on Twitter
          </div>
        </div>
      </div>
      <div
        class="flex items-start border-t border-t-solid border-t-[#000000] border-b border-b-solid border-b-[#000000]"
      >
        <div
          class="w-23.5 flex flex-col items-start gap-0.5 py-2.5 px-3 shrink-0 border-r border-r-solid border-r-[#000000]"
        >
          <div
            class="text-[14px] mb-0.5 [letter-spacing:-0.025em] leading-[140%] text-center w-17 font-sans font-bold flex justify-center flex-wrap text-black"
          >
            Published
          </div>
          <div
            class="text-[14px] leading-[140%] [letter-spacing:-0.025em] text-center w-17 font-sans flex justify-center flex-wrap text-black"
          >
            August 23, 2025
          </div>
        </div>
        <div class="w-23.75 flex flex-col items-start gap-0.5 py-2.5 px-3 shrink-0">
          <div
            class="text-[14px] mb-0.5 [letter-spacing:-0.025em] leading-[140%] text-center w-17.5 font-sans font-bold flex justify-center flex-wrap text-black"
          >
            Revision
          </div>
          <div
            class="text-[14px] leading-[140%] [letter-spacing:-0.025em] text-center w-17.5 font-sans flex justify-center flex-wrap text-black"
          >
            November 16, 2025
          </div>
        </div>
      </div>
      <div class="flex flex-col items-start w-fit gap-2 p-3 border-b border-b-solid border-b-[#000000]">
        <div class="text-[14px] [letter-spacing:-0.025em] leading-[140%] w-41.25 font-sans text-black">
          This essay was widely shared and I went on two podcasts to discuss it:
        </div>
        <div class="flex flex-col items-start gap-1">
          <div
            class="inline-block text-[14px] [letter-spacing:-0.025em] leading-[140%] w-fit whitespace-pre font-sans font-bold text-black"
          >
            🔗{' '}Live with Tim O'Reilly
          </div>
          <div
            class="inline-block text-[14px] [letter-spacing:-0.025em] leading-[140%] w-41.25 whitespace-pre-wrap font-sans font-bold text-black"
          >
            🔗{' '}--dangerously-skip-permissions
          </div>
        </div>
      </div>
      <div class="flex flex-col items-start gap-3 w-fit p-3 border-b border-b-solid border-b-[#000000]">
        <div class="text-[14px] [letter-spacing:-0.025em] leading-[140%] w-41.25 font-sans text-black">
          See comments, research notes and earlier drafts on Google Docs.
        </div>
      </div>
      <div class="flex self-stretch w-0">
        <div class="grow">
          <div class="items-center flex w-0 h-px" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="min-w-0 grow border-l border-l-solid border-l-[#000000] border-r border-r-solid border-r-[#000000] px-8">
  <div class="[hyphens:auto]">
    <div class="mb-6 rounded-md py-4 px-[18.4px] bg-[#FFF7D6D1] border border-dashed border-[#78672761]">
      <div class="text-[18px] leading-[150%] font-sans text-black">
        Author's note: This essay and Why fat tails emerge at scale offer a systems analysis of inference economics.
        Together, they explain the quantitative relationship between fixed prices and variable compute costs under
        fat-tailed demand. I focus on Claude Code, Cursor and OpenCode in this series because their public pricing
        changes make these tradeoffs the most visible in the industry. But the dynamic applies to any provider running
        inference at scale.
      </div>
    </div>
    <main>{{.Content}}</main>
  </div>
</div>
<div class="max-w-47.5 flex flex-col items-start gap-3 self-stretch h-0 border-l border-l-solid border-l-[#000000]">
  <div class="w-47.5 flex flex-col items-start gap-2 pl-3 flex-1 pt-2">
    <div class="text-[16px] leading-[133.333%] self-stretch font-sans font-bold text-[#333333]">Table of Contents</div>
    <div class="toc flex flex-col items-start gap-3 w-fit text-[14px] leading-[120%] font-sans text-[#0033CC] [&_ul]:list-none [&_ul]:pl-0 [&_ul_ul]:pl-5 [&_a]:text-[#0033CC] [&_a]:no-underline hover:[&_a]:underline">
      {{ .TableOfContents }}
    </div>
  </div>
</div>

{{ end }}
